<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="js">
    <script th:src="@{/assert/jquery/jquery-2.1.1.min.js}"></script>
    <script th:src="@{/assert/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/assert/bootstrap-table/bootstrap-table.min.js}"></script>
    <script th:src="@{/assert/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/assert/vue-js/vue.min.js}"></script>
    <script th:src="@{/assert/bootstrapValidator/js/bootstrapValidator.js}"></script>
    <script th:src="@{/assert/layui/layui.all.js}"></script>
    <script th:src="@{/js/commons.js}"></script>
</div>
</body>
</html>