<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="meta('title')">
    <meta charset="UTF-8">
    <title>${title}</title>
    <meta charset="UTF-8">
    <title>需求管理</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../../static/assert/bootstrap/bootstrap.min.css" th:href="@{/assert/bootstrap/bootstrap.min.css}"
          rel="stylesheet">
    <link rel="stylesheet" href="../../static/assert/bootstrap-table/bootstrap-table.css"
          th:href="@{/assert/bootstrap-table/bootstrap-table.css}">
    <link rel="stylesheet" href="../static/assert/bootstrapValidator/css/bootstrapValidator.min.css"
          th:href="@{/assert/bootstrapValidator/css/bootstrapValidator.min.css}">
    <link rel="stylesheet" th:href="@{/assert/bootstrap/plugins/upload/css/fileinput.min.css}"
          href="../static/assert/bootstrap/plugins/upload/css/fileinput.min.css">
    <link rel="stylesheet" th:href="@{/css/commons.css}" href="../static/css/commons.css">
    <link rel="stylesheet" href="../static/assert/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
          th:href="@{/assert/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" href="../../static/assert/layui/css/layui.css" th:href="@{/assert/layui/css/layui.css}">

    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .navbar {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

</body>
</html>